#wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2e7d32;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.project hidden img,
.project hidden video {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

section {
  display: grid;
  place-content: center;
  align-content: center;
  min-height: 50vh;
}

nav {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 10px;
  font-weight: bold;
  background-color: goldenrod;
  border-radius: 13px;
}

a {
  color: white;
  font-size: 110%;
  text-decoration: none;
  padding: 5px;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  font-size: 80%;
  color: white;
  background-color: goldenrod;
  border-radius: 13px;
}

.post-it {
  background-color: #ffeb3b; /* gelb wie Post-It */
  color: black;
  padding: 30px;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 30px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; /* für Hover-Effekt*/
  justify-content: center;
  align-items: center;
}

.post-it a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-it:hover {
  transform: translateY(-5px) rotate(-3deg); /* Bewegung bei Hover */
  cursor: pointer;
}
.hidden {
  margin-top: 40px;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
}

.hidden img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 70%;
  border-radius: 10px;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
